Repository BAEDUN/sf-ctf, pull requests merged in 2022-11, with the labels that each got.

#12 Add category for challenge
  .vscode/settings.json
  server/src/challenge/challenge.controller.ts
  server/src/challenge/dto/createChallenge.dto.ts
  server/src/challenge/dto/getAllChallenges.dto.ts
  server/src/challenge/dto/getChallenge.dto.ts
  server/src/challenge/schemas/challenge.schema.ts
Labels: server

#13 Log login and download
  client/src/api/api.ts
  nginx/config/dev/default.conf
  package-lock.json
  server/src/app.module.ts
  server/src/challenge/challenge.service.ts
  server/src/challenge/dto/createChallenge.dto.ts
  server/src/challenge/dto/getChallenge.dto.ts
  server/src/challenge/schemas/challenge.schema.ts
  server/src/file/dto/get.dto.ts
  server/src/file/dto/put.dto.ts
  server/src/file/file.controller.ts
  server/src/file/file.module.ts
  server/src/file/file.service.ts
  server/src/log/dto/getLog.dto.ts
  server/src/log/log.controller.ts
  server/src/log/log.module.ts
  server/src/log/log.service.ts
  server/src/log/schemas/log.schema.ts
  server/src/user/users.controller.ts
  server/src/user/users.module.ts
  server/src/user/users.service.ts
Labels: server

#15 Get all challenge with detail
  client/src/api/api.ts
  server/src/challenge/challenge.controller.ts
  server/src/challenge/dto/getAllChallenges.dto.ts
  server/src/challenge/dto/getChallenge.dto.ts
  server/src/challenge/util/calculateChallengeScore.ts
Labels: server

#16 Submit flag
  client/src/api/api.ts
  server/src/challenge/challenge.controller.ts
  server/src/challenge/challenge.module.ts
  server/src/challenge/challenge.service.ts
  server/src/challenge/dto/submitFlag.dto.ts
  server/src/file/file.controller.ts
  server/src/log/log.service.ts
  server/src/user/schemas/user.schema.ts
  server/src/user/users.controller.ts
  server/src/user/users.module.ts
Labels: server

#17 Create challenge with admin page
  README.md
  client/src/api/api.ts
  client/src/components/App.tsx
  client/src/components/views/Admin/Admin.tsx
  client/src/components/views/Admin/CreateChallenge/CategorySelect.tsx
  client/src/components/views/Admin/CreateChallenge/CreateChallenge.tsx
  client/src/components/views/Login/Login.tsx
  client/src/components/views/Register/Register.tsx
  client/src/context/AuthProvider.tsx
  docker-compose.dev.yml
  docker-compose.gen-api.yml
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/config.ts
  server/src/user/dto/register.dto.ts
  server/src/user/schemas/user.schema.ts
  server/src/user/users.controller.ts
  server/src/user/users.service.ts
Labels: client, server

#22 Send challenges with user solved
  client/src/api/api.ts
  server/src/challenge/challenge.controller.ts
  server/src/challenge/challenge.service.ts
  server/src/challenge/dto/getAllChallenges.dto.ts
Labels: server

#23 Serve challenge with author name
  client/src/api/api.ts
  server/src/challenge/challenge.controller.ts
  server/src/challenge/challenge.service.ts
  server/src/challenge/dto/getAllChallenges.dto.ts
  server/src/challenge/schemas/challenge.schema.ts
Labels: server

#18 View log with admin page
  client/src/api/api.ts
  client/src/components/views/Admin/Admin.tsx
  client/src/components/views/Admin/CreateChallenge/CreateChallenge.tsx
  client/src/components/views/Admin/ViewLog/ViewLog.tsx
  client/src/util/handleNumberInput.ts
  client/src/util/handleStringInput.ts
  server/src/log/dto/getLog.dto.ts
  server/src/log/log.controller.ts
  server/src/log/log.service.ts
Labels: client, server

#20 Serve user status
  client/src/api/api.ts
  server/src/app.service.ts
  server/src/challenge/challenge.controller.ts
  server/src/file/file.controller.ts
  server/src/log/log.controller.ts
  server/src/user/dto/status.dto.ts
  server/src/user/users.controller.ts
  server/src/user/users.module.ts
  server/src/user/users.service.ts
Labels: server

#24 Implement Challenge Page
  client/src/assets/images/logo.png
  client/src/components/App.tsx
  client/src/components/views/Challenge/Challenge.css
  client/src/components/views/Challenge/Challenge.tsx
  client/src/components/views/Challenge/Challenges.css
  client/src/components/views/Challenge/Challenges.tsx
  client/src/components/views/Login/Login.tsx
  client/src/components/views/Main/Main.css
  client/src/components/views/Main/Main.tsx
  client/src/components/views/NavBar/NavBar.tsx
  client/src/index.d.tsx
  server/src/app.service.ts
Labels: client

#19 Provide solver info
  client/src/api/api.ts
  server/src/challenge/challenge.controller.ts
  server/src/challenge/dto/getAllChallenges.dto.ts
  server/src/log/dto/getSolvers.dto.ts
  server/src/log/log.controller.ts
  server/src/log/log.service.ts
  server/src/log/schemas/log.schema.ts
Labels: server

#21 Impl ranking api
  client/src/api/api.ts
  server/src/user/dto/ranking.dto.ts
  server/src/user/users.controller.ts
  server/src/user/users.service.ts
Labels: server

#27 Set start and end time with env
  README.md
  docker-compose.dev.yml
  docker-compose.gen-api.yml
  server/src/challenge/challenge.controller.ts
  server/src/config.ts
  server/src/user/users.controller.ts
  server/src/util/isServerEnd.ts
  server/src/util/isServerOpen.ts
Labels: server

#26 Impl password change api
  client/src/api/api.ts
  server/src/user/dto/changePassword.dto.ts
  server/src/user/users.controller.ts
  server/src/user/users.service.ts
Labels: server

#28 Fix log querying
  client/src/api/api.ts
  client/src/components/views/Admin/ViewLog/ViewLog.tsx
  server/src/log/dto/getLog.dto.ts
  server/src/log/log.controller.ts
  server/src/log/log.service.ts
Labels: client, server

#29 Send status with email
  client/src/api/api.ts
  server/src/user/dto/status.dto.ts
  server/src/user/users.service.ts
Labels: server

#30 Manage user with admin page
  client/src/api/api.ts
  client/src/components/views/Admin/Admin.tsx
  client/src/components/views/Admin/User/User.tsx
  server/src/user/dto/getUsers.dto.ts
  server/src/user/dto/manageUser.dto.ts
  server/src/user/users.controller.ts
  server/src/user/users.service.ts
Labels: client, server

#31 Enhance jwt
  server/src/user/users.controller.ts
  server/src/user/users.service.ts
  server/src/user/util/issueToken.ts
  server/src/user/util/validateToken.ts
Labels: server

#32 Fix start and end time
  server/src/challenge/challenge.controller.ts
  server/src/util/isServerEnd.ts
  server/src/util/isServerEnded.ts
  server/src/util/isServerOpen.ts
Labels: server

#33 Validate user input
  server/src/challenge/challenge.controller.ts
  server/src/challenge/dto/getAllChallenges.dto.ts
  server/src/challenge/dto/submitFlag.dto.ts
  server/src/file/dto/get.dto.ts
  server/src/file/file.controller.ts
  server/src/log/dto/getSolvers.dto.ts
  server/src/log/log.controller.ts
  server/src/user/dto/changePassword.dto.ts
  server/src/user/dto/login.dto.ts
  server/src/user/dto/ranking.dto.ts
  server/src/user/dto/register.dto.ts
  server/src/user/dto/status.dto.ts
  server/src/user/users.controller.ts
  server/src/user/util/validatePassword.ts
Labels: server

#35 Fix validating user input
  server/src/challenge/challenge.controller.ts
  server/src/challenge/dto/getAllChallenges.dto.ts
  server/src/challenge/dto/submitFlag.dto.ts
  server/src/file/dto/get.dto.ts
  server/src/file/file.controller.ts
  server/src/log/dto/getSolvers.dto.ts
  server/src/log/log.controller.ts
  server/src/user/dto/changePassword.dto.ts
  server/src/user/dto/login.dto.ts
  server/src/user/dto/ranking.dto.ts
  server/src/user/dto/register.dto.ts
  server/src/user/dto/status.dto.ts
  server/src/user/users.controller.ts
Labels: server

#36 Fix ranking index
  server/src/user/users.controller.ts
  server/src/user/users.service.ts
Labels: server

#37 Fix dynamic scoring
  server/src/challenge/util/calculateChallengeScore.ts
Labels: server

#38 Add belong section
  client/src/api/api.ts
  client/src/components/views/Challenge/Challenges.css
  client/src/components/views/Challenge/Modal.tsx
  client/src/components/views/Register/Register.css
  client/src/components/views/Register/Register.tsx
  client/src/components/views/ScoreBoard/ScoreBoard.tsx
  client/src/components/views/User/User.css
  client/src/components/views/User/User.tsx
  server/src/user/dto/status.dto.ts
  server/src/user/users.controller.ts
  server/src/user/users.service.ts
Labels: client, server
